
<div id="container">
<p>MOVIE FISHER</p>
</div>
<form id="searchfield" action="/movies" method="get">
  <input type="text" name="movie_title" placeholder="movie title"/>
  <input type="text" name="year_made" placeholder="year made"/>
  <input  id="button" type="submit" />
</form>


<div class="container">

  <div class="row">
<div class="six columns">
<h1 class="title"><%= @result["Title"] %></h1>
<div class="img">
  <img src="<%= @result["Poster"] %>" alt="" />
  <h3 id="rating"> IMDB rating : </h3> <h4 id="score"><%= @result["imdbRating"] %></h4>

</div>
</div>

<div class="six columns">
<p>

  <h3 class="title">Plot :</h3> <h4 id="plot"><%= @result["Plot"] %></h4>
</p>
<h4 class="title">Directed By :</h4> <h4 id="director"><%= @result["Director"] %></h4>
<h4 class="title">Cast :</h4> <h4 id="actors"><%= @result["Actors"] %></h4>
<h4 class="title">Year :</h4> <h4 id="year"><%= @result["Year"] %></h4>
</div>
</div>



</div>
